@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --color-primary: #006241;
    --color-secondary: #d50032;
    --color-extra: #d4e9e2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000;
}

a {
    color: #000;
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

section a {
    color: #fff;
}

/* Navbar */
.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
    font-weight: bold;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-primary);
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav-left {
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}

.navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
}

.navbar-nav-right img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.navbar-nav-right li:nth-child(2) {
    margin: 0 5px;
}

/* Footer & Social */
.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px 30px;
}

.social {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.social img {
    width: 35px;
    height: 35px;
}

.social a {
    text-decoration: none;
    margin-right: 20px;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 40px auto;
}

/* Box */
.box {
    margin-bottom: 30px;
}

.box-inner {
    max-width: 700px;
    margin: 0 auto;
}

.box-text {
    max-width: 500px;
    text-align: center;
    justify-self: center;
    padding: 20px 0;
    margin: 0 auto;
}

.box-text .btn {
    margin-top: 20px;
}

.box-f .box-text {
    max-width: 600px;
}

/* Grid Styles */
.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.grid-reversed :first-child {
    order: 2;
}

/* Buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-dark-outline {
    border-color: #000;
    color: #000;
}

.btn-dark-outline:hover,
.btn-light-outline:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.btn-light-outline {
    border-color: #fff;
    color: #fff;
}

.btn-dark {
    background-color: #000;
    color: #fff;
}

.btn-dark:hover {
    background-color: #333;
}

/* Backgrounds */
.bg-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.bg-extra {
    background-color: var(--color-extra);
    color: #000;
}

.bg-dark {
    background-color: var(--color-dark);
    color: #000;
}

/* Text Styling */
.text-center {
    text-align: center;
}

.text-xl {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-lg {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-md {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm {
    font-size: 19px;
    margin-bottom: 20px;
}

/* Padding */
.py-sm {
    padding: 10px 0;
}

.py-md {
    padding: 20px 0;
}

.py-lg {
    padding: 40px 0;
}

/* Hamburger Menu Icon */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 85px;
    right: 0;
    background-color: #fff;
    color: #000;
    width: 90%;
    height: 100%;
    padding: 30px;
    box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%), inset 0 4px 2px -2px rgb(0 0 0 / 7%);
    transition: all 0.3s;
}

.mobile-menu img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.mobile-menu ul {
    line-height: 3;
    border-bottom: #777 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.mobile-menu a {
    text-decoration: none;
    font-size: 20px;
}

.mobile-menu a:hover {
    color: var(--color-primary);
}

.mobile-menu div {
    margin-top: 20px;
}

.mobile-menu div a {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.hidden {
    transform: translateX(100%);
}

.no-scroll {
    overflow: hidden;
}

@media (max-width: 960px) {
    .text-xl {
        font-size: 30px;
    }

    .text-lg {
        font-size: 25px;
    }

    .text-md {
        font-size: 19px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .grid-col-2 {
        grid-template-columns: 1fr;
    }

    .grid-reversed :first-child {
        order: 0;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }

    .navbar .navbar-nav-left,
    .navbar .navbar-nav-right {
        display: none;
    }

    .footer {
        text-align: center;
    }
}

@media (min-width: 1440px) {
    .box {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
    }

    .divider {
        max-width: 90%;
    }
}

.box-inner {
    height: 500px;
    max-width: 1440px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.box1,
.box2 {
    height: 620px;
    width: 720px;
    padding-left: 10px;
    padding-right: 10px;
}

.box2 {
    padding: 0;
    margin-top: -20px;
    margin-right: -20px;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-join {
    display: inline-block;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: all .2s ease;
    transition: var(--buttonTransition);
    color: white;
}

.button-join:hover {
    background-color: #01442e;
}

.social {
    display: flex;
    justify-content: center;
}

.footer-container>p {
    width: auto;
    display: flex;
    justify-content: center;
}

.gallery {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
    filter: none;
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn,
#nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.gallery div img {
    height: 480px;
    width: 450px;
}

.gallery-wrap {
    margin-top: 0;
    margin-bottom: 10px;
}

.wrapper>h2 {
    /* background-color:#006241; */
    text-align: center;
    color: #006241;
}